<!-- <p>appoinment works!</p> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<form [formGroup]="appoinmentform">
<div class="container">
    <div class="box1">
<div class="alert alert-primary" role="alert" *ngFor="let item of day" style="width: 200px;">{{item}}    <button type="button" class="btn btn-primary" (click)="addschedule()">+</button></div>
</div>
<div class="box2">
    <div formArrayName="schedule" *ngFor="let list of getControls(); let i=index;">
    <div [formGroupName]="i" style="display: flex">
        <input type="text" formControlName="name" placeholder="Customer name">
        <select formControlName="start_time">
                <option>df</option>
        </select>
        <select formControlName="end_time">
            <option>df</option>
         </select> 
         <button type="button" class="btn btn-secondary" (click)="deleteScheduleGroup(i)">X</button>
    </div>    
    </div>
</div>
</div>
</form>
<button type="button" class="btn btn-primary" id="btn" (click)="onclick()" >Downloads</button>
